---
const links = [
  { text: "Hem", href: "/", color: "bg-golden-tainoi" },
  { text: "För Vuxna", href: "/for-vuxna", color: "bg-tickle-me-pink" },
  { text: "Engagera dig", href: "/engagera-dig", color: "bg-picton-blue" },
  { text: "Vanliga frågor", href: "/faq", color: "bg-bright-turquoise" },
]
---
<ul class="flex flex-col items-stretch gap-2 justify-end sm:flex-row text-2xl sm:text-[clamp(1rem,3.2vw,1.5rem)]">
  {links.map((link) =>
    <li class="flex font-semibold">
      <a href={link.href} class="relative flex text-white px-4 py-2 w-full items-center justify-center">
        <span class="absolute inset-0 transform sm:-skew-x-12 sm:block border-2 border-black/20" class:list={link.color}></span>
        <span class="text-white relative inline-flex text-center" class:list={link.color}>{link.text}</span>
      </a>
    </li>
  )}
</ul>
