---

---
<label class="gap-x-2 has-[:checked]:hidden" class:list={Astro.props.class}>
  <input type="checkbox" class="peer hidden"/>

  <div class="peer-checked:bg-orange-200 inline-block size-4 bg-black border-2 border-white rounded-full">
  </div>

  <slot />
</label>