---
import type { Event } from '../../events'

interface Props {
  event: Event,
  class?: any
}

const { event } = Astro.props
---
{event.data.adults.length !== 0 && (
  <ul class="flex gap-x-1" class:list={Astro.props.class}>
    {event.data.adults.map((adult) => (
      <li class="border-2 border-allports-700 bg-allports-600 tracking-wide text-white font-days-one px-1 rounded-sm">{adult}</li>
    ))}
  </ul>
)}