---
import Layout from '../layouts/Layout.astro'
import Headline from '../components/headings/Headline.astro'
---
<Layout title="Sidan kan inte hittas" class="bg-transparent">
  <Headline class="col-[content] text-5xl my-4">
    Sidan kan inte hittas
  </Headline>

  <main class="col-[content] text-center flex flex-col gap-y-4">
    <p>
      Sidan du försöker nå finns inte. Kanske har den flyttats eller tagits bort?
    </p>

    <p class="my-4">
      <a class="btn btn-primary" href="/">Gå till startsidan</a>
    </p>
  </main>
</Layout>
