---
import Layout from '../layouts/Layout.astro'
import Headline from '../components/headings/Headline.astro'
---
<Layout title="Sidan kan inte hittas">
  <Headline text="Sidan kan inte hittas" size={30} class="leading-none" />

  <main class="text-center flex flex-col gap-y-4">

    <p>
      Sidan du försöker nå finns inte. Kanske har den flyttats eller tagits bort?
    </p>

    <p class="my-4">
      <a class="inline-block px-4 py-2 rounded-md bg-puerto-rico-400" href="/">Gå till startsidan</a>
    </p>
  </main>
</Layout>
