---
import Layout from '../layouts/Layout.astro';
import Headline from '../components/headings/Headline.astro'

const title = "Vanliga fr책gor"
---

<Layout title={title}>
  <header class="col-[full]">
    <Headline class="text-5xl my-2">
      {title}
    </Headline>
  </header>
  <main>
    <p class="text-center">
      Lite sn책lt h채r 채nnu, men det kommer nog!
    </p>
  </main>
</Layout>