---
import Layout from '../layouts/Layout.astro';
import Headline from '../components/headings/Headline.astro'

const title = "Vanliga fr책gor"
---

<Layout title={title}>
  <header class="col-[full]">
    <Headline class="text-5xl my-4">
      {title}
    </Headline>
  </header>
  <main class="col-[content]">
    <p class="text-center mb-4">
      Lite sn책lt h채r 채nnu, men det kommer nog!
    </p>
  </main>
</Layout>