---
import Layout from '../layouts/Layout.astro';
import Headline from '../components/headings/Headline.astro'

const title = "För vuxna"
---

<Layout title={title}>
  <header>
    <Headline class="leading-none pt-6">{title}</Headline>
  </header>

  <main>

  </main>
</Layout>