---
import Layout from '../layouts/Layout.astro';
import Headline from '../components/headings/Headline.astro'
import H2 from '../components/headings/H2.astro'
import { consentFormURL } from "../common"

const title = "För vuxna"
---

<Layout title={title}>
  <header class="col-[full]">
    <Headline class="text-5xl my-4">
      {title}
    </Headline>
  </header>

  <main class="col-[content] flex flex-col gap-y-16">
    <section class="">
      <H2>Medgivandeformulär</H2>
      <p class="my-2">
        För att ditt barn ska kunna delta på Rindögården behöver ni och ert barn acceptera de regler och riktlinjer som gäller.
      </p>
      <a class="block text-link" href={consentFormURL}>
        Öppna och fyll i formuläret
      </a>
    </section>
  </main>
</Layout>