---
import Layout from '../layouts/Layout.astro';
import Headline from '../components/headings/Headline.astro'
import H2 from '../components/headings/H2.astro'

const title = "För vuxna"
---

<Layout title={title}>
  <header>
    <Headline text={title} size={28} />
  </header>

  <main class="flex flex-col gap-y-16">
    <section class="flex flex-col gap-y-4">
      <H2>Medgivandeformulär</H2>
      <p>
        För att ditt barn ska kunna delta på Rindögården behöver ni och ert barn acceptera de regler och riktlinjer som gäller.
      </p>
      <a class="btn btn-disabled">
        Öppna och fyll i formuläret (kommer snart)
      </a>
    </section>
  </main>
</Layout>