---
import Layout from '../layouts/Layout.astro';
import Headline from '../components/headings/Headline.astro'

const title = "För vuxna"
---

<Layout title={title}>
  <header>
    <Headline text={title} size={28} />
  </header>

  <main>

  </main>
</Layout>