---
import Layout from '../layouts/Layout.astro';
import MainMenu from '../components/MainMenu.astro';

import { getCollection } from 'astro:content';

const events = await getCollection('events').then((events) =>
	Promise.all(events.map(async (event) => {
		const date = new Date(event.slug)
		const { Content } = await event.render()
		return { ...event, date, Content }
	}))
).then((events) => events.sort((a, b) => Date.parse(a.slug) - Date.parse(b.slug)));
---

<Layout title="Rindögården">
	<nav class="sticky top-0 subgrid bg-christalle z-10">
		<MainMenu />
	</nav>

	<header class="flex flex-col bg-christalle subgrid border-b-2 border-christalle">
		<div class="col-[content] flex flex-col text-white">
			<h1 class="text-white font-bangers leading-normal text-[clamp(1rem,16cqw,6rem)] text-center mb-4 drop-shadow-[0_0px_3px_rgba(0,0,0,1.0)]">Rindögården</h1>
			<p class="text-center">
				Vi är precis i <strong>startgroparna</strong>. Håll utkik, det kommer mer här snart!
			</p>
		</div>
	</header>
	<main class="p-4 text-white text-xl/7 m-auto col-[content] w-[800px] max-w-[calc(100%-2rem)] mt-4">
		<ol class="flex flex-col gap-4">
			{events.map(({ Content, data, date }) => (
				<li>
					<article class="border-christalle bg-picton-blue rounded-sm px-4 py-4 flex flex-col gap-2 shadow-md">
						<header>
							<h1 class="text-4xl flex flex-wrap gap-x-2 justify-between items-end border-b-4 text-white border-current font-bangers">
								<span>{data.title}</span>
								<time datetime={date.toISOString()} class="text-xl">
									{date.toLocaleDateString('sv-SE', { dateStyle: "long", timeStyle: undefined })}, kl {data.time}
								</time>
							</h1>
						</header>

						<Content />
					</article>
				</li>
			))}
		</ol>
	</main>
</Layout>

<style>
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.link-card-grid {
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
	}
</style>
