---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Rindögården">
	<main>
		<h1 class="text-gradient text-6xl/normal font-bold text-center mb-4">Rindögården</h1>
		<p class="rounded-lg p-6 mb-8 border border-accent-300/25 bg-gradient-to-b from-accent-700/65 to-accent-700/35 text-center">
			Vi är precis i <strong class="text-accent-300">startgroparna</strong>. Mer info kommer i augusti!
		</p>
		<ul role="list" class="link-card-grid gap-8 hidden">
			<Card
				href="https://docs.astro.build/"
				title="Documentation"
				body="Learn how Astro works and explore the official API docs."
			/>
			<Card
				href="https://astro.build/integrations/"
				title="Integrations"
				body="Supercharge your project with new frameworks and libraries."
			/>
			<Card
				href="https://astro.build/themes/"
				title="Themes"
				body="Explore a galaxy of community-built starter themes."
			/>
			<Card
				href="https://astro.build/chat/"
				title="Community"
				body="Come say hi to our amazing Discord community. ❤️"
			/>
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.link-card-grid {
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
	}
</style>
