---
import Layout from '../layouts/Layout.astro';
import Headline from '../components/headings/Headline.astro'
import Time from '../components/events/Time.astro'

import * as events from '../events'

const upcoming = await events.list()
---

<Layout title="Rindögården">
	<header class="subgrid">
		<div class="col-[content] flex flex-col text-white">
			<Headline>
				Rindögården!
			</Headline>
			<p class="text-center px-4">
				Vi är precis i <strong>startgroparna</strong>. Håll utkik, det kommer mer här snart!
			</p>
		</div>
	</header>

	<main class="subgrid mb-12">
		<ol class="flex flex-col gap-y-8 col-[content]">
			{upcoming.map((event) => (
				<li>
					<a href={event.url}>
						<article class="bg-picton-blue rounded-sm px-4 py-4 flex flex-col gap-2 shadow-md">
							<header class="border-b-4 flex flex-wrap justify-between items-end gap-x-2">
								<h1 class="text-4xl font-bangers">{event.data.title}</h1>
								<Time event={event} style="short" />
							</header>
						</article>
					</a>
				</li>
			))}
		</ol>
	</main>
</Layout>

<style>
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.link-card-grid {
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
	}
</style>
