---
import Layout from '../layouts/Layout.astro';
import MainMenu from '../components/MainMenu.astro';
import Event from '../components/Event.astro';
import type { Props as EventProps } from '../components/Event.astro';

const events: [EventProps] = [
	{
		title: 'Höststart',
		date: new Date('2024-08-30'),
		time: '18:00 - 21:00',
	}
]
---

<Layout title="Rindögården">
	<nav class="sticky top-0 subgrid bg-christalle">
		<MainMenu />
	</nav>

	<header class="flex flex-col bg-christalle subgrid border-b-2 border-christalle">
		<div class="col-[content] flex flex-col text-white">
			<h1 class="text-white font-bangers leading-normal text-[clamp(1rem,16cqw,6rem)] text-center mb-4 drop-shadow-[0_0px_3px_rgba(0,0,0,1.0)]">Rindögården</h1>
			<p class="text-center">
				Vi är precis i <strong>startgroparna</strong>. Håll utkik, det kommer mer här snart!
			</p>
		</div>
	</header>
	<main class="p-4 text-white text-xl/7 m-auto col-[content] w-[800px] max-w-[calc(100%-2rem)] mt-4">
		<ol>
			{events.map((event) => (
				<li><Event {...event} /></li>
			))}
		</ol>
	</main>
</Layout>

<style>
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.link-card-grid {
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
	}
</style>
