---
export interface Props {
  title: string
  date: Date
  time: string
}

const { title, date, time } = Astro.props;
---

<article class="border-christalle bg-picton-blue rounded-md px-6 py-4 shadow-md shadow-picton-blue">
  <header>
    <h1 class="text-4xl flex flex-wrap gap-x-2 justify-between items-end border-b-4 text-white border-current font-bangers">
      <span>{title}</span>
      <time class="text-xl">{date.toLocaleDateString('sv-SE', { dateStyle: "long", timeStyle: undefined })}, kl {time}</time>
    </h1>
  </header>
</article>