---
import Links from "./MainMenu/Links.astro"
---
<details class="group list-none flex gap-4 sm:hidden col-[full]">
  <summary class="flex cursor-pointer list-none items-center justify-end gap-4 bg-[#8FE388]">
    <div class="inline-flex px-4 relative">
      <div class="inline-flex items-center gap-2 relative text-black">
        <svg class="w-12 transition-transform duration-300 group-open:-rotate-180" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M13 12H21M13 8H21M13 16H21M6 7V17M6 17L3 14M6 17L9 14" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>

        <span class="bold font-bold text-xl">Meny</span>
      </div>
    </div>
  </summary>

  <div class="group-open:mb-2"></div>

  <Links />
</details>

<div class="hidden sm:block mt-8 mb-4 col-[breakout]">
  <Links />
</div>