---
import Links from "./MainMenu/Links.astro"
import logoImage from '@images/logo/Logo-RG-Square-Neg-RGB.png'
import { Image } from 'astro:assets'

import urls from '@/urls'
---
<nav class="sticky top-0 subgrid z-50 backdrop-blur-md border-b-2 border-shark-900/60 shadow-xl bg-shark-950/90 text-white">
  <details class="group list-none grid sm:hidden col-[full]">
    <summary class="flex flex-grow cursor-pointer list-none items-center justify-between gap-4">
      <div class="inline-flex flex-col justify-center items-center px-4 text-sm font-days-one uppercase">
        <span>Rindögården</span>
      </div>

      <div class="inline-flex px-4 self-end">
        <div class="inline-flex items-center gap-2 relative font-days-one uppercase">
          <svg class="w-12 transition-transform duration-150 group-open:duration-300 group-open:-rotate-180" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M13 12H21M13 8H21M13 16H21M6 7V17M6 17L3 14M6 17L9 14" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>

          <span class="bold font-bold text-xl">Meny</span>
        </div>
      </div>
    </summary>

    <div class="grid overflow-hidden grid-rows-[0fr] group-open:animate-grid-auto-height">
      <div class="min-h-0 transition-all px-4">
        <Links class="mt-2 items-stretch mb-4" />
      </div>
    </div>
  </details>

  <div class="hidden sm:subgrid py-2">
    <div class="col-[breakout] flex flex-wrap justify-center items-end gap-x-8">
      <a href={urls.home} class="max-h-[4lh] w-auto">
        <Image src={logoImage} alt="Rindögården" class="max-h-[inherit] w-[inherit]" />
      </a>
      <div class="h-fit">
        <Links class="items-stretch pb-3" />
      </div>
    </div>
  </div>
</nav>
