@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  details > summary.list-none::-webkit-details-marker,
  details > summary.list-none::marker {
    display: none;
  }

  .grid-standard {
    --gap: clamp(1rem, 3vw, 3rem);
    --full: minmax(var(--gap), 1fr);
    --content: min(48rem, 100% - var(--gap) * 2);
    --breakout: minmax(0, 5rem);

    display: grid;
    grid-template-columns:
      [full-start] var(--full)
        [breakout-start] var(--breakout)
          [content-start] var(--content) [content-end]
        var(--breakout) [breakout-end]
      var(--full) [full-end];
  }

  .grid-standard > * {
    grid-column: content;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-days-one;
  }

  a:where([href]) {
    @apply underline underline-offset-2;
  }

  a:where(.btn) {
    @apply no-underline;
  }
}

@layer utilities {
  .writing-horizontal {
    writing-mode: horizontal-tb;
  }

  .writing-vertical {
    writing-mode: vertical-rl;
  }
}

@layer components {
  .subgrid {
    display: grid;
    grid-column: full;
    grid-template-columns: subgrid;
  }

  .btn {
    @apply rounded-md block px-4 py-2 text-2xl text-center shadow-lg border-2 border-black/20 font-days-one tracking-wider;
  }

  .btn-primary {
    @apply bg-allports-400;
  }

  .btn-disabled {
    @apply bg-gray-300 text-gray-500 cursor-not-allowed;
  }

  .headline {
    @apply overflow-hidden break-words;
  }
}
