---
import "../tailwind.css";
import SiteMenu from '../components/SiteMenu.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="bg-christalle-900 text-white">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Rindögården är en fritidsgård på Rindö för
		dig som går i årskurs 4-9. Här kan du hänga med kompisar, chilla och delta i
		roliga temakvällar som anordnas av engagerade föräldrar. En trygg och
		avslappnad miljö där du kan vara dig själv!" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<title>{title}</title>
	</head>
	<body class="grid-standard gap-y-8">
		<SiteMenu />

		<slot />
	</body>
</html>
<style is:global>
	:root {
		--color-accent: 136 58 234;
		--color-accent-300: 224 204 250;
		--color-accent-700: 49 10 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--color-accent)),
			rgb(var(--color-accent-300)) 30%,
			white 60%
		);
	}
</style>
