---
import "../tailwind.css";
import SiteMenu from '../components/SiteMenu.astro';

interface Props {
	title: string;
	class?: any;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="bg-shark-950 text-white h-full">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Rindögården är en fritidsgård på Rindö för
		dig som går i årskurs 4-9. Här kan du hänga med kompisar, chilla och delta i
		roliga temakvällar som anordnas av engagerade föräldrar. En trygg och
		avslappnad miljö där du kan vara dig själv!" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Days+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
		<title>{title}</title>
	</head>
	<body class="grid-standard min-h-full grid-rows-[min-content_1fr]">
		<SiteMenu />

		<div class="subgrid bg-slate-900" class:list={Astro.props.class}>
			<div class="subgrid h-fit mb-12">
				<slot />
			</div>
		</div>
	</body>
</html>
<style is:global>
	:root {
		--color-accent: 136 58 234;
		--color-accent-300: 224 204 250;
		--color-accent-700: 49 10 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--color-accent)),
			rgb(var(--color-accent-300)) 30%,
			white 60%
		);
	}
</style>
