---
import "@/styles/global.css";
import { Image } from "astro:assets";
import ogImage from "@/images/logo/Logo-RG-Square-Neg-RGB.png";
---

<!doctype html>
<html lang="en" class="h-full">
  <head></head>
  <body class="">
    <div
      class="bg-[#1E201F] w-[1200px] h-[630px] border-box flex justify-center items-start"
    >
      <Image src={ogImage} alt="" height="630" class="max-h-full p-2" />
    </div>
  </body>
</html>
